name: CI/CD - Build, Push and Deploy metrics API

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: k8s-server-performance-stack

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: SSH into EC2 and update Kubernetes deployment
        uses: appleboy/ssh-action@v1.2.0
        with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_SSH_USER }}
            key: ${{ secrets.EC2_SSH_KEY }}
            script: |
                set -e
                export KUBECONFIG=/home/ubuntu/.kube/config

                # Clone or update the repo containing k8s manifests
                if [ ! -d "/home/ubuntu/k8s-server-performance-stack" ]; then
                git clone https://github.com/CassivsGabriellis/metrics-api-k8s-server-performance.git /home/ubuntu/k8s-server-performance-stack
                else
                cd /home/ubuntu/k8s-server-performance-stack
                git pull
                fi

                cd /home/ubuntu/k8s-server-performance-stack

                # Ensure namespace and basic resources
                kubectl apply -f k8s/namespace.yaml
                kubectl apply -f k8s/deployment.yaml
                kubectl apply -f k8s/service.yaml
                kubectl apply -f k8s/ingress.yaml

                # Update deployment image with the current commit
                NEW_TAG=${GITHUB_SHA}
                IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${GITHUB_SHA}"
                echo "Updating deployment image to ${IMAGE}"

                kubectl -n metrics-api set image deployment/metrics-api-deployment \
                metrics-api=${IMAGE}

                echo "Waiting for rollout to complete..."
                kubectl -n metrics-api rollout status deployment/metrics-api-deployment